<h1><%= @billboard.name %></h1>
<hr />
<p>What would you like to do?</p>
<%= link_to "View Artists", billboard_path(@billboard) %>
<% @artists.each do |artist| %>
  <h1>Song name: <%= artist.name %></h1>
<% end %>
<br />
<%= link_to "Edit", edit_billboard_path(@billboard) %>
<br />
<%= link_to "Delete", billboard_path(@billboard), method: :delete %>
<br />
<br />
<br />
<button><%= link_to "View Billboards", billboards_path %></button>